@model MvcApplication3.Models.Invoice

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Invoice</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Amount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Amount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateInvoice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateInvoice)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateSent)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateSent)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DatePaid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DatePaid)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCancellation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCancellation)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Type)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Type)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Registration.Remarks)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Registration.Remarks)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Number)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Number)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DaysOverdue)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DaysOverdue)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateDue)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateDue)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
