@model IEnumerable<MvcApplication3.Models.Course>

@{
    ViewBag.Title = "Kursliste";
}

<h2>Kursliste</h2>

<p>
    @Html.ActionLink("Neuen Kurs anlegen", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Suche nach Namen: @Html.TextBox("SearchString")  
        <input type="submit" value="Search" /></p>
}
<table>
    <tr>
        <th>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.Name).ToString(), "Index", new {sortOrder = ViewBag.NameSortParm})
        </th>
        <th>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.Date).ToString(), "Index", new {sortOrder = ViewBag.DateSortParm})
        </th>
        <th>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.Venue).ToString(), "Index", new {sortOrder = ViewBag.VenueSortParm})
        </th>
        <th>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.Year).ToString(), "Index", new {sortOrder = ViewBag.YearSortParm})
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @String.Format("{0:d}", item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Venue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.ActionLink("Bearbeiten", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Löschen", "Delete", new { id=item.Id }) |
            @Html.ActionLink("Teilnehmer", "IndexForCourse", "Registration", new { courseId=item.Id }, null)
        </td>
    </tr>
}

</table>
