@model IEnumerable<MvcApplication3.ViewModels.CourseStatistics>
@{
    ViewBag.Title = "Kurs Statistik";
}

<h2>Kurs Statistik</h2>

<table>
    <tr>
        <th>
            Datum
        </th>
        <th>
            Name
        </th>
        <th>
            Jahrgang
        </th>
        <th>
            Ort
        </th>
        <th>
            Anzahl
        </th>
    </tr>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Venue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfStudents)
        </td>
    </tr>
}
</table>