@model MvcApplication3.ViewModels.HomePage

<h2>Neue Anmeldungen</h2>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Kurs
        </th>
        <th>
            Datum <br />Anmeldung
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.NewRegistrations)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Person.LastName) @Html.DisplayFor(modelItem => item.Person.FirstName) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Name)
            </td>
            <td>
                @String.Format("{0:d}", item.Date)
            </td>
            <td>
            @Html.ActionLink("Anmeldung bearbeiten", "Edit", "Registration", new { id=item.Id }, null)
            </td>
        </tr>
    }
</table>
<h2>Zu erstellende Rechnungen</h2>

<table>
    <tr>
        <th>
            Kurs
        </th>
        <th>
            Art
        </th>
        <th>
            Datum <br />Kurs
        </th>
        <th>
            geplantes<br />Rechnungsdatum 
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.CoursesToBill)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillDue)
            </td>
            <td>
                @String.Format("{0:d}", item.Date)
            </td>
            <td>
                @{
                    var datum = new DateTime();
                    if (item.BillDue == "Rechnung 1")
                    {
                        datum = item.DateInvoice1.Value;
                    }
                    if (item.BillDue == "Rechnung 2")
                    {
                        datum = item.DateInvoice2.Value;
                    }
                }
                @String.Format("{0:d}", datum)
            </td>
            <td>
            @Html.ActionLink("Kurs bearbeiten", "Edit", "Course", new { id=item.Id }, null)
            </td>
        </tr>
    }
</table>

<h2>Überfällige Rechnungen</h2>

<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Kurs
        </th>
        <th>
            Datum<br/>Rechnung
        </th>
        <th>
            Betrag
        </th>
        <th>
            Tage<br />Überfällig
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.OverdueInvoices)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Registration.Person.LastName)
                @Html.DisplayFor(modelItem => item.Registration.Person.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Registration.Course.Name)
                @Html.DisplayFor(modelItem => item.Registration.Course.Date)
            </td>
            <td>
                @String.Format("{0:d}", item.DateInvoice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaysOverdue)
            </td>
            <td>
                @Html.ActionLink("Rechnung Bearbeiten", "Edit", "Invoice", new { id=item.Id }, null) 
            </td>
        </tr>
    }
</table>