@model MvcApplication3.ViewModels.HomePage

<h3>Neue Anmeldungen</h3>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Kurs
        </th>
        <th>
            Datum
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.NewRegistrations)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Person.LastName) @Html.DisplayFor(modelItem => item.Person.FirstName) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
        </tr>
    }
</table>
<h3>Zu erstellnde Rechnungen</h3>

<table>
    <tr>
        <th>
            Kurs
        </th>
        <th>
            Rechnungsart
        </th>
        <th>
            Datum
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.CoursesToBill)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
        </tr>
    }
</table>