@model MvcApplication3.Models.Registration

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Registration</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Remarks)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Remarks)
            @Html.ValidationMessageFor(model => model.Remarks)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CourseId, "Course")
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Course.Date), 
            @Html.ActionLink(Model.Course.Name, "Edit", "Course", new { id = Model.CourseId }, new { @class = "test", title = "Kurs anzeigen" }), 
            Jahrgang: @Html.DisplayFor(model => model.Course.Year),
            @Html.DisplayFor(model => model.Course.Venue)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PersonId, "Person")
        </div>
        <div class="editor-field">
            @Html.ActionLink(Model.Person.FirstName + " " + Model.Person.LastName, "Edit", "Person", new { id = Model.PersonId }, new { title = "Person anzeigen" }), 
            <span title="E-Mail senden">@Html.DisplayFor(model => model.Person.EMail), </span>
            @Html.DisplayFor(model => model.Person.Phone)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
