@model MvcApplication3.Models.Person

@{
    ViewBag.Title = "Kurse einer Person";
}

<h2>Kurse einer Person</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<div>
    <h3>
        @Html.DisplayFor(model => model.FirstName)
        @Html.DisplayFor(model => model.LastName),
        @Html.DisplayFor(model => model.EMail),
        @Html.DisplayFor(model => model.Phone)
    </h3>
</div>
<table>
    <tr>
        <th>Kurs
        </th>
        <th>Datum
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Registrations)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Date)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
@*                @Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                @Html.ActionLink("Teilnehmer", "IndexForCourse", "Registration", new { courseId=item.Course.Id }, null)
           </td>
        </tr>
    }

</table>
