@using MvcApplication3.Models
@model MvcApplication3.Models.Course

@{
    ViewBag.Title = "Kursteilnehmer";
}

<h2>Kursteilnehmer</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<div>
    <h3>
        @Html.DisplayFor(model => model.Date)
        @Html.DisplayFor(model => model.Name),
        @Html.DisplayFor(model => model.Year), 
        @Html.DisplayFor(model => model.Venue)
    </h3>
</div>
<table class="lined">
    <thead>
    <tr>
        <th>Name
        </th>
        @if (Model.HasDeposit)
        {
            <th>Anzahlung</th>
        }
        @if (Model.HasInvoice1)
        {
            <th>1. Rechnung</th>
        }
        @if (Model.HasInvoice2)
        {
            <th>2. Rechnung</th>
        }
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Registrations)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.FirstName)
                    @Html.DisplayFor(modelItem => item.Person.LastName)
                </td>
                @if (Model.HasDeposit)
                {
                    @Html.DisplayFor(modelItem => item.Deposit, "InvoiceState")
                }
                @if (Model.HasInvoice1)
                {
                    @Html.DisplayFor(modelItem => item.Invoice1, "InvoiceState")
                }
                @if (Model.HasInvoice2)
                {
                    @Html.DisplayFor(modelItem => item.Invoice2, "InvoiceState")

                }
                <td>
                    @Html.ActionLink("Bearbeiten", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Löschen", "Delete", new { id = item.Id }) |
                    @Html.ActionLink("Kurse anzeigen", "IndexForPerson", "Registration", new { personId = item.Person.Id }, null)
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <t
        </tr>
    </tfoot>
</table>
